.completed-hr {
    position: absolute;
    width: 46vw;
    transform: translate(0%, 250%);
    z-index: -1000;
    border-top: 3px solid #38ac5c;
}

.uncompleted-hr {
    position: absolute;
    width: 45vw;
    transform: translate(0%, 250%);
    margin-left: 46vw;
    z-index: -1000;
}