.completed-hr {
    position: absolute;
    width: 44vw;
    transform: translate(0%, 250%);
    z-index: -1000;
    border-top: 3px solid #38ac5c;
}

.uncompleted-hr {
    position: absolute;
    width: 42.5vw;
    transform: translate(0%, 100%);
    margin-left: 44vw;
    z-index: -1000;
    border-top: 3px solid #000000;
}