.completed-hr {
    margin-left: 0px;
    position: absolute;
    width: 22.5vw;
    transform: translate(2%, 250%);
    z-index: -1000;
    border-top: 3px solid #38ac5c;
}

hr {
    position: absolute;
    width: 67.5vw;
    transform: translate(-2%, 250%);
    margin-left: 25%;
    z-index: -1000;
}