.completed-hr {
    margin-left: 0px;
    position: absolute;
    width: 23.5vw;
    transform: translate(5%, 250%);
    z-index: -1000;
    border-top: 3px solid #38ac5c;
}

.uncompleted-hr {
    position: absolute;
    width: 68.5vw;
    transform: translate(0%, 250%);
    margin-left: 22.5vw;
    z-index: -1000;
}