* {
    padding: 0;
    margin: 0;
}

hr {
    width: 90vw;
    margin: auto;
    border-top: 3px solid #000000;
    position: absolute;
    transform: translate(1%, 250%);
    z-index: -1000;
}

.completed-hr {
    width: 90vw;
    margin: auto;
    border-top: 3px solid #38ac5c;
    position: absolute;
    transform: translate(1%, 250%);
    z-index: -1000;
}

#progress-bar {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 92vw;
    margin: auto;
    transform: translate(0%, -52%);
}

.circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 3px solid #000000;
}

.active-circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38ac5c;
    border: 3px solid #38ac5c;
}

.completed-circle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #38ac5c;
    border: 3px solid #38ac5c;
}

.active-circle .upper-text {
    color: #FFFFFF;
    font-weight: bold;
}

.active-circle .lower-text {
    color: #38ac5c;
    font-weight: bold;
}

.completed-circle .upper-text {
    color: #FFFFFF;
    transform: translate(0%, 45%);
}

.completed-circle .lower-text {
    color: #38ac5c;
}

.upper-text {
    transform: translate(0%, 50%);
    text-align: center;
    text-size-adjust: auto;
}

.lower-text {
    transform: translate(0%, 100%);
    text-align: center;
    text-size-adjust: auto;
    width: 500px;
}